apps/calc-ws/src/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.calculator.com/service/"
                  targetNamespace="http://www.calculator.com/service/"
                  name="calculator">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.calculator.com/service/">
            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="x" type="xsd:float"/>
                        <xsd:element name="y" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sub">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="x" type="xsd:float"/>
                        <xsd:element name="y" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="subResponse">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="out" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="addRequest">
        <wsdl:part element="tns:add" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subRequest">
        <wsdl:part name="parameters" element="tns:sub"/>
    </wsdl:message>
    <wsdl:message name="subResponse">
        <wsdl:part name="parameters" element="tns:subResponse"/>
    </wsdl:message>

    <wsdl:portType name="calculator">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequest"/>
            <wsdl:output message="tns:addResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sub">
            <wsdl:input message="tns:subRequest"/>
            <wsdl:output message="tns:subResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="calculatorBinding" type="tns:calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="http://www.calculator.com/service/add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sub">
            <soap:operation soapAction="http://www.calculator.com/service/sub"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="calculator">
        <wsdl:port binding="tns:calculatorBinding" name="calculatorService">
            <soap:address location="DUMMY"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>